.faq {
	dl {
		dt {
			font-family: $secondaryFont;
			position: relative;
			padding-left: 1.25rem;
			line-height: 1.1;
			h6 {
				margin-bottom: 0.5rem;
			}
			&:before {
				content: 'Q:';
				position: absolute;
				top: 0;
				left: 0;
				color: #c8c8c6;
			}
		}
		dd {
			position: relative;
			padding-left: 1.25rem;
			line-height: 1.1;

			&:before {
				content: 'A:';
				position: absolute;
				top: 0;
				left: 0;
				color: #c8c8c6;
			}
		}
	}
}
