.grid {
	padding-top: 3rem;

	&--item {
		float: left;
		width: 50%;
		height: 7.5rem;
		padding: 2rem;
		padding-left: 0;
		padding-right: 0rem;

		text-align: center;
		img {
			max-width: 70%;
		}
	}

	@mixin atMedium {
		&--item {
			width: 25%;
		}
	}

	@mixin atLarge {
		&--item {
			width: 20%;
		}
	}
}
