.powerOfCrystals {
	height: auto;
	display: block;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;

	&__image {
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom right;
		background-color: black;
	}

	img {
		width: 100%;
	  }

	h1 {
		color: #000000;
		font-size: 2.40rem;
		line-height: 1.25;
		margin-bottom: 1rem;
	}

	h2 {
		text-transform: uppercase;
		color: #ffffff;
		font-size: 0.95rem;
		line-height: 1;
	}

	h3 {
		color: #000000;
		padding-left: 150px;
	}

	p {
		color: #000000;
		font-size: 1.000rem;
		line-height: 1.9;
		width: 50%;
	}

	a {
		color: #000000 !important;
		border: 1px solid #000000 !important;
	}

	&__gradient-overlay {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgb(34, 37, 40);
		background: -moz-linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		background: -webkit-linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		background: linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr="#222528",
				endColorstr="#000000",
				GradientType=1
			);
	}

	@mixin atSmall {
	}

	@mixin atMedium {
		h1 {
			font-size: 13.4375rem;
			margin-top: -30px;
		}

		h2 {
			font-size: 1.2rem;
		}
	}

	@mixin atLarge {
		h1 {
			font-size: 9.4375rem;
		}
		h4 {
			font-size: 1.055rem;
		}
		
	}

	@mixin atXXLarge {
		h1 {
			font-size: 13.4375rem;
			margin-left:-20px;
		}

		h2 {
			font-size: 1.725rem;
		}
		
		h3 {
			color: #000000;
		    text-transform: uppercase;
		    letter-spacing: 2rem;
		}
	}
}
