.section {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__image {
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
        top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top right;
		background-color: black;
    }



    ul {

        margin-bottom: 0;
        list-style: none;
        padding-left: 0;

        li {
            color: black;
            font-size: 0.6875rem;
            margin-bottom: 1.25rem;
            position: relative;

            strong {
                color: $darkGray;
                text-transform: uppercase;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                color: $darkGray;
             }
        }


    }

    @mixin atSmall {
          
    }

    @mixin atMedium {
          
    }

    @mixin atLarge {
        
    }

    @mixin atXXLarge {

        
    }


}