.sectionTitleSubhead {
	height: auto;
	display: block;
	position: relative;
	padding-top: 3rem;
	padding-bottom: 3rem;



	@mixin atSmall {

		&__product {
			margin-left: 25px;
		
		  }

	}

	@mixin atMedium {

		&__product {
			float: left;
			width: 227px;
			margin-top: -20px;
			margin-left: 55px;
		
		  }
	}

	@mixin atLarge {

		padding-top: 4rem;
		padding-bottom: 4rem;

		&__product {
			float: left;
			width: 227px;
			margin-top: -120px;
			margin-left: -60px;
		
		}

	}

	@mixin atXLarge {
		padding-top: 5rem;
		padding-bottom: 5rem;

		&__product {
			float: left;
			width: 227px;
			margin-top: -120px;
			margin-left: -130px;
		
		}

	}

	@mixin atXXLarge {

		&__product {
			float: left;
			width: 227px;
			margin-top: -100px;
			margin-left: -80px;
		
		  }
	}
}
