.section1 {
	height: auto;
	display: block;
	position: relative;
	/*padding-top: 7rem;*/

	padding-top: 0;
	padding-bottom: 0;

	&__image {
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: top left;
		backgrount-color: black;
	}

	h1 {
		color: black;
		font-size: 2.40rem;
		line-height: 1.25;
		margin-bottom: 1rem;
		letter-spacing: 10px;
	}

	h2 {
		text-transform: uppercase;
		color: white;
		font-size: 0.95rem;
		line-height: 1;
	}

	p {
		color: white;
		font-size: 0.9rem;
		line-height: 1.9;
		font-family: 'factoria', serif;
		letter-spacing: 2px;
	}

	a {
		color: black;
	  }

	.why-sec-2 {
		border: 1px solid white;
	}

	&__gradient-overlay {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgb(34, 37, 40);
		background: -moz-linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		background: -webkit-linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		background: linear-gradient(270deg, rgba(34, 37, 40, 0) 37%, rgba(0, 0, 0, 0.8533788515406162) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(
				startColorstr="#222528",
				endColorstr="#000000",
				GradientType=1
			);
	}

	&__ht-default {
		padding-top: 100px;
	}

	&__pg-default {
		padding-top: 0px;
		padding-bottom: 100px;
	}

	&__why-default {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__padding {
		padding-top: 14rem;
		padding-bottom: 9rem;
	}

	@mixin atSmall {
	}

	@mixin atMedium {
		h1 {
			font-size: 2.15rem;
		}

		h2 {
			font-size: 1.2rem;
		}
	}

	@mixin atLarge {
		
	}

	@mixin atXXLarge {
		h1 {
			font-size: 5.4375rem;
		}

		h2 {
			font-size: 1.725rem;
		}
		
		h3 {
			color: black;
		    text-transform: uppercase;
		    letter-spacing: 2rem;
		}

		p {
			padding-right: 3.05rem;
		}
		
		&__hp-default {
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
}
