<!--Header-->
<header>

    <!--Fixed BG-->
    <div class="inverted--fixed-bg off"></div>

    <!--Overlay-->
    <div id="mobile-overlay" class="mobile-overlay"></div>
    <!--END-->

    <div class="container"> 

        <!--Main Wrapper-->
        <div class="row justify-content-center">
            <div class="col-11 col-sm-12">

                <!--Row-->
                <div class="row align-items-center align-items-md-start">

                    <!--Logo-->
                    <div class="col-8 col-md-4">
                        <a href="/">
                            <svg id="logo" width="216" height="34" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216.06 34.86">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <title>lmntl-logo</title>
                                <g id="eb017a90-cc35-454c-a46d-c71349ba621e" data-name="Layer 2">
                                    <g id="a3c271fe-2583-4a78-bab2-436c39036754" data-name="Nav">
                                    <g>
                                        <polygon points="6.61 0.54 4.22 0.54 4.22 25.02 2.39 25.02 2.39 0.54 0 0.54 0 27.41 20.6 27.41 20.6 25.02 6.61 25.02 6.61 0.54" style="fill: #fff"/>
                                        <polygon points="187.07 25.02 187.07 0.54 184.68 0.54 184.68 25.02 182.84 25.02 182.84 0.54 180.46 0.54 180.46 27.41 201.05 27.41 201.05 25.02 187.07 25.02" style="fill: #fff"/>
                                        <rect x="136.05" y="0.51" width="23.32" height="2.39" style="fill: #fff"/>
                                        <polygon points="136.06 6.61 146.52 6.61 146.52 27.25 148.91 27.25 148.91 6.61 159.37 6.61 159.37 4.22 136.06 4.22 136.06 6.61" style="fill: #fff"/>
                                        <polygon points="54.19 16.58 37.61 0 37.61 3.52 53.91 19.82 54.3 20.2 54.51 19.78 68.33 5.96 68.33 27.31 70.81 27.31 70.81 0.8 70.39 0.38 54.19 16.58" style="fill: #fff"/>
                                        <polygon points="37.61 6.44 37.61 27.31 40.1 27.31 40.1 11.6 51.39 22.89 53.15 21.13 38.03 6.01 37.61 6.44" style="fill: #fff"/>
                                        <polygon points="113.69 17.1 93.83 1.08 93.2 0.57 93.2 3.73 116.12 22.28 116.16 0.81 113.69 0.81 113.69 17.1" style="fill: #fff"/>
                                        <polygon points="93.18 6.03 93.18 27.38 95.67 27.38 95.67 11.34 116.13 27.7 116.13 24.43 93.18 6.03" style="fill: #fff"/>
                                    </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <!--END-->

                    <!--Menu Button-->
                    <div class="col-4 text-right d-md-none">
                        <div id="menu-button" class="d-block"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    </div>
                    <!--END-->

                    <!--Navigation-->
                    <div class="col-12 col-md-8 text-md-right">
                        <nav class="navigation">
                            <ul>
                                <li>
                                    <a href="/why-lmntl" class="navigation--button">
                                        Why LMNTL
                                    </a>
                                </li>
                                <li>
                                    <a href="fragrances" class="navigation--button">
                                        Fragrances
                                    </a>
                                </li>
                                <li>
                                    <a href="customize" class="navigation--button">
                                        Customize
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--END-->
                </div>
                <!--END-->


            </div>
        </div>
        <!--END-->

    </div>

</header>
<!--END-->