html {

  height:100%;
  margin: 0;

}

body {

  color: white;
  background: white;
  height:100%;
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;

}

h1 {
  color: white;
  font-size: 1.7rem;
  line-height: 1.3;
  letter-spacing: 10px;
}

h2 {
  color: black;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: 3px;
  padding-left: 1rem;
}

h4 {
  text-transform: uppercase;
  font-size: 0.71rem;
  letter-spacing: .2rem;
  color: white;
}


p {
  color: white;
  font-size: 1rem;
  line-height: 1.9;
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 0rem;
  padding-right: 1rem;
  margin-bottom: 1.25rem;

  &:last-of-type {
      margin-bottom: 2rem;
   }
} 

ul {

  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

  li {
      color: black;
      font-size: 0.6875rem;
      margin-bottom: 1.25rem;
      position: relative;

      strong {
          color: $darkGray;
          text-transform: uppercase;
      }

      &:before {
          position: absolute;
          top: 0;
          left: 0;
          color: $darkGray;
       }
  }
  
}

:root {
  font-size: 16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: factoria, serif;
  font-style: normal;
  font-weight: 400;
}

section {
  figure {
    img {
      max-width: 100%;
    }
  }
}

/* Button Style */

a {

  font-family: inherit;
  font-size: 0.65rem;
  color: inherit;
  border: inherit;
  pointer-events: auto;
  text-decoration: underline;

  &:hover {
      text-decoration: underline;
   }

}

em {


  a {
      display: inline-block;
      text-transform: uppercase;
      color: white;
      font-size: .7rem;
      font-family: inherit;
      padding-left: 0.875rem;
      padding-right: 0.875rem;
      padding-top: 0.35rem;
      padding-bottom: 0.3rem;
      transition: all 0.5s ease-in-out;
      font-style: normal;
      border: 1px solid white;
      text-decoration: none;
  }

  &:hover {
      background: $gray;
      color: white;
      text-decoration: none;
  }
}


/* Product Type */
@mixin atSmall {
  
  h1 {
    font-size: 2rem;
    margin-top: -10px;
  }

  h2 {
    font-size: 1.4rem;
    padding-left:2rem;
  }

}

@mixin atMedium {
  
  h1 {
    font-size: 2.45rem;
    margin-top: -10px;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.2rem;
    margin-top: -10px;
  }

  p {
    margin-top: 20px;
  }

}

@mixin atLarge {
  padding-top: 4rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 3.35rem;
    margin-top: -10px;
    line-height: 4rem;
    padding-left: 2rem;
  }

  p {
    padding-left: 0rem;
  }
}

@mixin atXXLarge {
  h1 {
    font-size: 6rem;
  }
  

  p {
    margin-top: 4px;
  }
}