$gold: #977512;
$white: white;
$blue: #243746;
$darkBlue: #1c2b35;
$bodyBackgroundColor: #d0d0ce;

$primaryFont: din-2014, sans-serif;
$secondaryFont: 'Bourgeois', sans-serif;
$regular: 400;
$medium: 600;
$bold: bold;

$offWhite: #efefed;
